body{
    font-family: "Inter", sans-serif;
}
#head .row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#head .row .nav_items ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
#head .row .nav_items ul li{
    list-style-type: none;
}
#head .row ul li a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}
#head .row ul li a:hover{
    color: #469165;
}
#head .row .button a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 12px 16px;
    background-color: #469165;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
}
#head .row .button a:hover{
    background-color: #2c573c;
}
#banner{
    text-align: center;
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 674px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner .content{
    padding: 70px 120px;
}
#banner .content .row1{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#banner .content .row1 img{
    margin-right: 6px;
}
#banner .content .row1 a{
    padding: 8px 12px;
    text-decoration: none;
    color: #469165;
    background: #fff;
    border-radius: 1000px;
}
#banner .content .row1 a:hover{
    background: #30B868;
    color: #fff;
}
#banner .content .thinking p{
    font-weight: 700;
}
#banner .content .thinking p .first{
    color: #fff;
    font-size: 72px;
}
#banner .content .thinking p .second{
    font-size: 72px;
    color: #30B868;
}
#banner .content p{
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    margin-top: 16px;
}
#banner .content .row2{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}
#banner .content .row2 a{
    text-decoration: none;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    border-radius: 4px;
}
#banner .content .row2  .first{
    background: #469165;
}
#banner .content .row2  .first:hover{
    background: #30B868;
}  
#banner .content .row2  .second:hover{
    background: #30B868;
}

#banner .content .row2 .first img{
    margin-left: 10px;
}
#banner .content .row2  .second{
    border: 1px solid #fff;
}
#banner .content .row2  .second img{
    margin-right: 10px;
}
#card .container{
    padding: 0 120px;
    margin-bottom: 100px;
}
#card h2{
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #001931;
}
#card p{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #627382;
}
#card .row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#card .card img{
    display: inline-block;
    background: #F95555;
    text-align: center;
    padding: 8px;
    border-radius: 50%;
    margin-top: 70px;
}
#card .card{
    text-align: center;
    border: 1px solid #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.141);
    margin-top: 44px;
    padding: 30px ;
    cursor: pointer;
    margin-right: 10px;
    width: 322px;
    height: 300px;
    border-radius: 8px;
}
#card .card:hover{
    border: 2px solid #469165;
}
#card .card h4{
    font-weight: 600;
    font-size: 24px;
    color: #001931;
}
#card .card p{
    font-weight: 400;
    font-size: 16px;
    color: #627382;
}
#solution{
    margin: 120px;
}
#solution .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#solution .row .content{
    padding: 120px;
}
#solution .row .image img{
    width: 600px;
    height: 600px;
    border-radius: 12px;
}
#solution .row .content .one{
    color: #469165;
    font-size: 16px;
    font-weight: 500;
}
#solution .row .content .two{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin: 0;
}
#solution .row .content .three{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}
#solution .row .content .checklist{
    margin-top: 40px;
}
#solution .row .content .checklist .row{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    margin-bottom: 16px;
}
#think{
    background: #F7F6F2;
    padding: 80px 40px;
}
#think .container{
    text-align: center;
}
#think .container h3{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
}
#think .container p{
    font-weight: 400;
    font-size: 16px;
    color: #627382;
}
#think .container a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 12px 16px;
    background-color: #469165;
    font-weight: 600;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 16px;
}
#think .container a span img{
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#footer{
    background: #001931;
    padding: 120px 120px 30px 120px ;
}
#footer .container .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer .container .row .social_link p{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin: 0;
}
#footer .container .row .social_link ul{
    padding: 0;
}
#footer .container .row .social_link ul li {
    list-style-type: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
#footer .container .row .social_link ul li a{
    margin-right: 16px;

}
#footer .container p{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FAFAFA;
    margin: 30px;
}
