body{
    font-family: "Inter", sans-serif;
}
#head .row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#head .row .nav_items ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
#head .row .nav_items ul li{
    list-style-type: none;
}
#head .row ul li a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}
#head .row ul li a:hover{
    color: #469165;
}
#head .row .button a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 12px 16px;
    background-color: #469165;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
}
#head .row .button a:hover{
    background-color: #2c573c;
}